.modal {
position: fixed;
inset: 0;
display: flex;
justify-content: center;
align-items: center;
background: rgba(0,0,0,.7);
}


.modal-content {
background: #020617;
padding: 2rem;
border-radius: 12px;
}


.hidden {
display: none;
}